{% extends 'base.html.twig' %}

{% block body %}
    <div class='container my-5'>
        <div class="row">
            <div class='md-4'>
                 {% include 'account/_menu.html.twig' %}
            </div>
             <div class='md-8'>
            
            </div>
        </div>
    </div>
{% endblock %}
