{% extends 'base.html.twig' %}

{% block title %}Hello AccountController!{% endblock %}

{% block body %}
    <div class="container">Espace menbre privé</div>
    <div>
        <a href="{{path('app_logout')}}">Me déconnecter</a>
        <a href="">Modifier mon mot de passe</a>
    </div>
{% endblock %}
