{% extends 'base.html.twig' %}

{% block body %}
    
    <div class="container text-center my-5">
        <img src="/images/sac-de-courses.png" alt="commande confirmée">
        <h1> Merci pour votre commande</h1>

        <a href="{{ path('app_account_order', { 'id_order' : order.id } ) }}" class="btn btn-success">Consulter ma commande</a>
     
    </div>
{% endblock %}