{% extends 'base.html.twig' %}

{% block title %}A propos{% endblock %}

{% block description %}A propos{% endblock %}

{% block keywords %} Chaussure,Chic,A propos{% endblock %}

{% block body %}

 <h1 class="text-center">Qui sommes-nous</h1>

   <div class="container mt-5 shadow">
        <div class="row align-items-center">
            <div class="col-md-6">
                <h1 class="text-center">NOTRE HISTOIRE</h1>
                <p class="text-center">
                    Chaussure-Chic crée depuis 2024 des chaussures pour les hommes,inspirés d'une nonchalance parisienne libre et assumée. 
                    Capturer l'essence singulière du style effortless, sublimer l'allure avec des lignes et des volumes bien pensés : une vision contemporaine alliant sophistication minimaliste et influences vintage.
                </p>
                <p class="text-center">
                    Un studio de création basé à Paris, des pièces imaginées avec passion et fabriquées avec soin en France. Optimiste et vivante,
                    Chaussure-Chic prône une mode responsable et authentique, fondée sur des engagements écologiques et solidaires durables.
                </p>
            </div>
            <div class="col-md-6 p-0">
                <img src="images/12.jpg" class="img-fluid" alt="Image à droite">
            </div>
        </div>
    </div>
    <div class="container mt-5 mb-2 shadow">
        <div class="row align-items-center ">
            <div class="col-md-6 order-md-2">
                <h1 class="text-center text-lg-right"> Un savoir-faire traditionnel </h1>
                <p class="text-center text-lg-right">
                    Authenticité, sens du détail et un savoir-faire qui se transmet de génération en génération.
                </p>
                <p class="text-center text-lg-right">
                    Nos artisans bottiers fabriquent les créations de Chaussure-chic avec passion dans notre propre atelier traditionnel en France. Liberté, 
                    souplesse et créativité sont nos maîtres-mots pour proposer des modèles aux finitions soignées qui durent dans le temps.
                </p>
                <p class="text-center text-lg-right p-0">
                    En soutien de cette production, nous travaillons main dans la main avec des ateliers familiaux spécialisés, 
                    en France.
                </p>
            </div>
            <div class="col-md-6 order-md-1 p-0">
                <img src="images/3.jpg" class="img-fluid " alt="Image à gauche">
            </div>
        </div>
    </div>
{% endblock %}